[user]
	name = Patrik Wibron
	email = patrik@wibron.nu

[core]
	excludesfile = /Users/patrik/.gitignore_global
	autocrlf = input
	safecrlf = false
	editor = vim

[github]
	user = wibron

[color]
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	log1 = log --pretty=oneline --abbrev-commit --decorate
	lgn = "!f() { git log --graph --pretty=format:'%Cred%H%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --date=relative $@ | git name-rev --stdin --name-only ; } ; f"
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	stash-diff = stash show -p stash@{0}
	standup = log --author="patrik.wibron" --pretty=format:'%Cred%h%Creset - %Cgreen%cd%Creset - %s%Creset' --abbrev-commit --since="yesterday"

[push]
	default = simple

[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*